* {
  font-family: Helvetica, sans-serif;
}

html {
  background-color: rgb(200, 171, 171);
}

.title {
  display: flex;
  justify-self: center;
  margin-bottom: 0;
}

h2 {
  margin: .25em 0;
}

.flashcard {
  margin: 1em;
  background-color: transparent;
  width: 400px;
  height: 200px;
  perspective: 1500px; /* Remove this if you don't want the 3D effect */
}

.flashcard-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flashcard-content.flipped{
  transform: rotatex(180deg);
}

/* Position the front and back side */
.front, .back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.back {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.front {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #ffffff;
  color: black;
  transform: rotatex(180deg);
}

.card-display, .whole-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card-display {
  min-height: 350px;
}

.whole-set {
  flex-wrap: wrap;
}

.card-interact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

button {
  border-radius: 10px;
}

.position-btn {
  font-size: 2em;
}

.change-buttons button{
  margin: .5em;
  font-size: 1.5em;
}

.easy {
  background-color: rgb(180, 240, 180);
}

.medium {
  background-color: rgb(255, 255, 192);
}

.difficult {
  background-color: rgb(255, 172, 172);
}

img {
  width: 100px;
  height: auto;
}

input {
  font-size: 1em;
  display: flex;
  justify-self: center;
  margin-bottom: .5em;
  border: 2px solid black;
}

.guess-answer {
  display: flex;
  align-items: center;
}

.guess-answer input {
  margin-top: .5em;
}

.change-buttons {
  display: flex;
  justify-content: center;
}

.correct {
  border-color: green;
}

.wrong {
  border-color: red;
}